@use '_variables' as var;
@mixin font($weight, $size, $line-height, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}
@mixin fontName() {
  font-family: 'Poppins';
  font-style: normal;
}
@mixin brRadius10px() {
  border-radius: 10px;
}
@mixin brRadius40px() {
  border-radius: 40px;
}
@mixin aStyle() {
  width: 160px;
  height: 54px;
  background: var.$color-blue;
  text-align: center;

  cursor: pointer;
  border: 2px solid var.$color-main-text;
  margin: 50px auto;
  box-shadow: 0px 20px 20px rgba(129, 209, 255, 0.2);
  &:hover {
    background: var.$color-blue-tint;
  }
}
