@use '_mixins' as mi;
@use '_variables' as var;

.testimonials {
  padding: 0px 16px;
  background-color: var.$color-blue;
  width: 100%;
  min-height: 718px;
  h1 {
    @include mi.font(700, var.$h1-size, 72px, var.$color-main-text);
    text-align: center;
    margin: 50px auto;
  }
}
.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 46px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.grid-element {
  background-color: var.$color-main-text;
  display: flex;
  // flex-wrap: wrap;
  gap: 14px;
  padding: 30px;
  @include mi.brRadius40px();
  & > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}
@media screen and (max-width: 899px) {
  .grid-element {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.testimonial-text {
  display: flex;
  flex-direction: column;
  h3 {
    @include mi.font(700, var.$a-size, 22px, var.$color-blue);
    margin-bottom: 13px;
  }
  p {
    @include mi.font(400, var.$p-size, 22px, var.$color-second-text);
    margin-bottom: 10px;
  }
  img {
    height: 18px;
    width: 114px;
  }
}
