@use '_mixins' as mi;
@use '_variables' as var;

@import '_reset';
@import '_header';
@import '_section-info';

.container {
  @include mi.fontName();
  display: flex;
  flex-direction: column;
  align-items: center;
}
